.cart-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mi-camiseta-catrini.appspot.com/o/mi-camiseta-estadio.jpeg?alt=media&token=fc8492ee-0853-476d-86c3-f46f2ed763e4);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
}

.cart-products{
    align-self: center;
    width: 100%;
}

.cart-total-products{
    color: black;
    align-self: center;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
    font-size: 12px;
    padding: 3px;
    background-color: rgb(197, 197, 197);
    border-style: dashed;
    border-color: black;
    width: 10%;
}

.cart-checkout-button{
    align-self: center;
    text-align: center;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.cart-checkout-button button{
    color: white;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 15px;
    padding: 3px;
    background-color: black;
}

.cart-checkout-button button:hover{
    color: rgb(251, 180, 1);
}

.cart-no-products-title{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


