.cart-widget{
    color: rgb(0, 0, 62);
    width: 30px;
    height: 30px;
    margin-top: 20px;
    border-radius: 100%;
    border-style:groove;
    border-color:white;
    background-color: gray;
}