.item-contenedor{
    position: relative;
    background-color: rgb(197, 197, 197);
    border: 0.5px solid grey;
    margin: 30px 30px 30px 30px;
    box-shadow: 0px 0px 10px black;
    border-radius: 3%;
    width: 40vh;
    height: 75vh;
    min-width: 150px;
    min-height: 400px;
}

.item-img{
    border: black solid 1px;
    margin: 15px;
    width: 80%;
    height: 50%;
}

.item-title{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    padding: 2px;
}

.item-price-stock{
    display: inline-flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

.item-price{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-right: 30px;
}

.item-stock{
    color:black;
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    border: 0.5px solid black;
    border-width: 3px;
    border-radius: 3%;
    background-color: white;
}

.item-button{
    position: relative;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    flex-grow: 1;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 25px 5px 25px;
    background-color: black;
    border-radius: 10px;
}

.item-button:hover{
    color: rgb(251, 180, 1);
}