.navbar{
    padding: 1%;
    order: 0;
    width: 100%;
    height: 18vh;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 62);
    display: flex;
}

.logo-content{
    width: 20%;
    height: 18vh;
    margin-right: 20px;
}

.logo-navbar{
    display: flex;
    width: 100%;
    height: 100%;
}

.categories-navbar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 40px;
}

.login-register-navbar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 40px;
    margin-left: 40px;
}

.section-one{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 40px;
}

.section-one:hover{
    color: rgb(251, 180, 1);
}

.section-two{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 40px;
}

.section-two:hover{
    color: rgb(251, 180, 1);
}

.section-active{
    padding: 10px;
    text-decoration: none;
    color: rgb(251, 180, 1);
    font-weight: bold;
    margin-right: 40px;
}
