.navbar{
    padding: 1%;
    order: 0;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 62);
    display: flex;
}

.title-navbar{
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

.categories-navbar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
}

.categories-navbar a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 40px;
}

.categories-navbar a:hover{
    color: rgb(251, 180, 1);
}

.login-register-navbar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;;
}

.login-register-navbar a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-register-navbar a:hover{
    color: rgb(251, 180, 1);
}