.cart-item-container{
    display: inline-flex;
    position: relative;
    color: black;
    background-color: rgb(197, 197, 197);
    border: 0.5px solid grey;
    margin: 30px 30px 30px 30px;
    box-shadow: 0px 0px 10px black;
    width: 80%;
    height: 200px;
}

.cart-item-quantity{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    border-radius: 50px;
    width: 2vh;
    height: 3vh;
    padding: 5px 10px 5px 10px;
}

.cart-item-img{
    border: black solid 1px;
    margin: 15px;
    width: 15%;
    height: 25vh;
}

.cart-item-title{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    width: 35%;
}

.cart-item-price{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    align-self: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 30px;
    width: 20%;
}

.cart-item-button{
    align-self: center;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    flex-grow: 1;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    background-color: black;
    border-radius: 10px;
    width: 5%;
}

.cart-item-button:hover{
    color: rgb(251, 180, 1);
}