.item-detail-container{
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mi-camiseta-catrini.appspot.com/o/mi-camiseta-estadio.jpeg?alt=media&token=fc8492ee-0853-476d-86c3-f46f2ed763e4);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
}