.item-count{
    display: inline-flex;
    align-items: center;
    width: 75vh;
    margin-bottom: 60px;
    justify-content: center;
}

.item-count h4{
    margin-right: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item-count input{
    text-align: center;
    margin-right: 5px;
    font-weight: bold;
    border-color: black;
}

.item-count button{
    margin-right: 3px;
    color:white;
    background-color: black;
}

.item-cart-button{
    width: 75vh;
}

.item-cart-button button{
    text-align:center;
    flex-grow: 1;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 50vh;
    padding: 5px 35px 5px 35px;
    background-color: black;
    border-radius: 10px;
}

.item-cart-button button:hover{
    color: rgb(251, 180, 1);
}



